The objective of this project is to extract image of the day and asteriod data such as;

- Asteroid ID- 
Asteroid nam
- 
The Minimal estimated diameter in Kilomet
- Absolute magnitude
- de
Relative_velocity(km/s)

from NASA portal using API

**Import necessary library**

In [1]:
import requests
import pandas as pd

In [3]:
#The base URL of the API 

url = "https://api.nasa.gov/planetary/apod"

In [5]:
#API and parameters

api_key = "PWs8IApqpAPjCvR0K5W95SA7GuhMvR5rrk7D2SNa"

# Parameters to pass to the API (e.g., date, start date, end date, count and API key)
params = {
    "api_key": api_key,  # Replace with your API key
    "date": "2024-11-07",       # Example date; make sure it’s valid if you’re using 'date'
    "hd": "true",                # Optional field for high-definition images
}

In [13]:
# Send a GET request to the API

response = requests.get(url, params = params)

#Check if the request was successful
response.status_code == 200

if response.status_code == 200:
    data = response.json() # This stores the response in the variable (data)
else:
    print("Error:", response.status_code, response.text)

In [21]:
# Display the NASA image as JSON

from IPython.display import Image, display
image_url = data['url']  # Get the URL of the image from the JSON data
display(Image(url=image_url))

**RETREIVE ASTERIOD DATA**

In [23]:
asteroid_url = f"https://api.nasa.gov/neo/rest/v1/feed?api_key={api_key}" # Get Url to extract data 
response = requests.get(asteroid_url) # Get response from the API
asteroid_data = response.json() # Stores response in the variable

# Extract relevant details and store them in a DataFrame
asteroids = []
for neo in asteroid_data['near_earth_objects']:
    for asteroid in asteroid_data['near_earth_objects'][neo]:
        asteroids.append({
            "Asteroid ID": asteroid['id'],
            "Asteroid name": asteroid['name'],
            "Minimal estimated diameter in Kilometre": asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
            "Absolute_magnitude": asteroid['absolute_magnitude_h'],
            "Relative_velocity(km/s)": asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']
        })

data_asteroids = pd.DataFrame(asteroids)

**DISPLAY THE ASTERIOD DATA**

In [49]:
# Displaying a clean version of the DataFrame

data_asteroids.head()

,Asteroid ID,Asteroid name,Minimal estimated diameter in Kilometre,Absolute_magnitude,Relative_velocity(km/s)
0,2138852,138852 (2000 WN10),0.230438,20.31,15.7752849524
1,2390725,390725 (2003 HB),0.305179,19.70,19.1702717603
2,3392303,(2007 VE3),0.063761,23.10,32.1996811546
3,3843591,(2019 QZ),0.016771,26.00,13.483054179
4,54105518,(2021 AW5),0.013078,26.54,8.0122173908

In [37]:
data_asteroids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Asteroid ID                              141 non-null    object
 1   Asteroid name                            141 non-null    object
 2   Minimal estimated diameter in Kilometre  141 non-null    float64
 3   Absolute_magnitude                       141 non-null    float64
 4   Relative_velocity(km/s)                  141 non-null    object
dtypes: float64(2), object(3)
memory usage: 5.6+ KB

In [41]:
# Export the data as a CSV file

data_asteroids.to_csv("asteroid_data.csv", index=False)